*{ 
    margin:0;
    color: black;
    padding:0;
    background-color:bisque;
}

.ul-nav-bar,a {
    text-decoration: none;
    margin: 10px;
    padding: 5;

}
button{
    border-radius: 15px;
    background-color:lightblue;
    border-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

.ul-navbar {
    margin-top:auto;
    display: flex;
    justify-content:right;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 300px; /* Example height, adjust as needed */
  }