*{ 
    margin:0;
    color: black;
    padding:0;
    background-image:url("images/signupbg.jpg");
}

.ulnavbar,a {
    text-decoration: none;

}
button{
    border-radius: 10px;
    background-color: #04AA6D; /* Green */
    border-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.ulnavbar {
    margin-top:auto;
    display: flex;
    justify-content:right;
    align-items: center;
}

